/*CSS Reset*/
body{
	margin:0;
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}

@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
.header-section{
    /* background-color: rgb(35, 25, 99); */
    height: 100px;
    margin-top: -21px;
}
.left {
  
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 7px;
    align-items: center;
}

.left img {
    margin: 0px 45px;
    width: 69px;
    filter: invert(100%);

}
.left:hover {
        cursor: pointer;
}
.left div:hover{
    color: bisque;
}

.mid {
    position: relative;
    display: block;
    width: 48%;
    margin: 26px 600px;

}


.right {    
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 31px;
}

.navbar {
    display: inline-block;
    margin-top: 5%;
}

.navbar li {
    display: inline-block;
    font-size: 17px;
    text-align: center;
}

.navbar li a {
    color: aliceblue;
    text-decoration: none;
    padding: 25px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: blanchedalmond;
}

.btn {
    font-family: 'Roboto Slab', serif;
    margin: 0px 1px;
    background-color: black;
    color: aliceblue;
    padding: 5px 13px;
    border: 2px solid gray;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(45, 43, 43);
}

.container {
    border: 2px solid whitesmoke;
    margin: 70px auto;
    width: 40%;
    padding: 30px;
    border-radius: 29px;

}

.form-group input {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    display: block;
    width: 60%;
    padding: 2px;
    border: 2px solid black;
    margin: 7px auto;
    font-size: 21px;
    border-radius: 5px;
}
.container h1{
    color: #ffffff;
    margin: 0%;
    text-decoration: underline;
}

.container button {
    display: block;
    width: 60%;
    margin: 17px auto;
}
.container h1:hover{
    text-decoration: underline;
    cursor: pointer;
    color: bisque;
}
.container button:hover{
    background-color: rgb(100, 98, 98);
}

footer{
    /* background-color: rgb(35, 25, 99); */
    /* position: relative; */
    margin-bottom: 0;
    height: 70px;
}
/* footer a{
    text-align: center;
} */
footer a i {
    color: #ffffff;
    font-size: 40px;
    padding: 15px;
}
form{
    margin-top: 5%;
}
